body {
    font: 16px Roboto, sans-serif;
    display: flex;
    justify-content: center;
    min-width: 80%;
    align-items: center;
}

.main {
    // min-width: 80%;
    // display: flex;

}

.h1-section {
    display: flex;
    justify-content: center;
}

.subtitle-section {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}

.subtitle-section h2 {
    text-align: center;
    font-size: 18px;
    padding: 0 10%;
    color: #676767;
    max-width: 70%;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .subtitle-section h2 {
        text-align: left;
    }
}

@media screen and (max-width: 640px) {
    .subtitle-section h2 {
        font-size: 14px;
    }
}